<app-toolbar></app-toolbar>
<mat-card *ngIf="wallet" class="detailWallet">
  <mat-card-title>Detalles de la cartera</mat-card-title>
  <mat-card-content>
    <p><strong>ID Cartera:</strong> {{ wallet.id }}</p>
    <p><strong>¿Está descontada?:</strong> {{ wallet.isDiscounted ? 'Yes' : 'No' }}</p>
    <p *ngIf="wallet.isDiscounted"><strong>Descontada con el banco: </strong> {{wallet.bankName}}</p>
    <mat-divider></mat-divider>
    <div *ngFor="let bill of wallet.bills">
      <p><strong>Número de Letra/Factura:</strong> {{ bill.number }}</p>
      <p><strong>Fecha de emisión:</strong> {{ bill.issueDate | date }}</p>
      <p><strong>Fecha de vencimiento:</strong> {{ bill.dueDate | date }}</p>
      <p><strong>Valor:</strong> {{ bill.amount }}</p>
      <p><strong>Moneda:</strong> {{ bill.currency }}</p>
      <p><strong>Deudor:</strong> {{ bill.debtorName }}</p>
      <p><strong>DNI/RUC Deudor:</strong> {{ bill.debtorDocumentIdentifier }}</p>
      <mat-divider></mat-divider>
    </div>
    <div *ngIf="!wallet.isDiscounted">
      <mat-form-field appearance="fill">
        <mat-label>Select Bank</mat-label>
        <mat-select [formControl]="selectedBankId">
          <mat-option *ngFor="let bank of banks" [value]="bank.id">
            {{ bank.name }} - Tasa: {{ bank.rate }}%  {{ bank.typeRate }} - Costo por documento: {{ bank.initialCostPerDocument }} - Portes iniciales: {{ bank.initialPortes }} - Comision Final: {{ bank.finalCommission }}
            <span *ngIf="bank.typeRate.startsWith('TN')"> - Capitalization: {{ bank.capitalization }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="generateDiscount()">
        Generate Discount
      </button>
    </div>
    <button mat-raised-button color="accent" (click)="viewReport()" *ngIf="wallet.isDiscounted">
      View Report
    </button>
  </mat-card-content>
</mat-card>
