<ng-container *ngIf="wallets.length > 0; else noWallets">
  <mat-card *ngFor="let wallet of wallets" class="wallet-card">
    <mat-card-header>
      <mat-card-title>Your Wallet ID: {{ wallet.id }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Is Discounted:</strong> {{ wallet.isDiscounted ? 'Yes' : 'No' }}</p>
      <mat-divider></mat-divider>
      <p><strong>Number of Bills:</strong> {{ wallet.bills.length }}</p>
      <mat-divider></mat-divider>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #noWallets>
  <p>No wallets available.</p>
</ng-template>

<div class="actions">
  <button mat-raised-button color="primary" (click)="navigateToCreateWallet()">Post Wallet</button>
</div>
