<div class="wallet-container">
  <ng-container *ngIf="wallets.length > 0; else noWallets">
    <mat-card *ngFor="let wallet of wallets" class="wallet-card" [ngClass]="{'discounted': wallet.isDiscounted, 'non-discounted': !wallet.isDiscounted}">
      <mat-card-header>
        <mat-card-title>ID Cartera: {{ wallet.id }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><strong>¿Está descontada?:</strong> {{ wallet.isDiscounted ? 'Yes' : 'No' }}</p>
        <mat-divider></mat-divider>
        <p><strong>Cantidad de letras/facturas:</strong> {{ wallet.bills.length }}</p>
        <mat-divider></mat-divider>
        <button mat-raised-button color="primary" (click)="viewDetails(wallet.id)">
          Ver detalles
        </button>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-template #noWallets>
    <p>No wallets available.</p>
  </ng-template>
</div>

<div class="actions">
  <button mat-raised-button color="primary" (click)="navigateToCreateWallet()">Crear una cartera</button>
</div>
