:host {
  display: block;
  padding-top: 80px; /* Adjust this value based on the height of your toolbar */
  background-image: url("https://i.postimg.cc/zJsY6zr7/fondo-pixel.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: auto; /* Enable vertical scrolling */
}

.wallet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.wallet-card {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  background-color: #ffffff;
  flex: 1 1 calc(33.333% - 40px); /* Adjusted width for responsive cards */
  box-sizing: border-box;
}

.wallet-card:hover {
  transform: scale(1.05);
}

/* Styles for discounted wallets */
.wallet-card.discounted {
  background-color: #d4edda;
  border-left: 5px solid #28a745;
}

/* Styles for non-discounted wallets */
.wallet-card.non-discounted {
  background-color: #f8d7da;
  border-left: 5px solid #dc3545;
}

/* Header styles */
mat-card-header {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px 8px 0 0;
}

/* Title styles */
mat-card-title {
  font-size: 1.2em;
  color: #333;
}

/* Content styles */
mat-card-content {
  padding: 15px;
  color: #555;
  word-wrap: break-word; /* Ensure text wraps within the card */
}

/* Button styles */
button {
  margin-top: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .wallet-card {
    flex: 1 1 100%;
    margin: 10px 0;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
