<app-toolbar></app-toolbar>
<div class="post-bills-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registrar Letra/Factura</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Número de Letra/Factura</mat-label>
          <input matInput formControlName="numeroLetra" required>
        </mat-form-field>
        <div class="date-fields">
          <mat-form-field appearance="outline">
            <mat-label>Fecha de Emisión</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="fechaEmision" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Fecha de Vencimiento</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="fechaVencimiento" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error *ngIf="form.hasError('dueDateBeforeIssueDate')">Fecha de Vencimiento debe ser mayor que Fecha de Emisión</mat-error>
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Monto Total</mat-label>
          <input matInput type="number" formControlName="montoTotal" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Moneda</mat-label>
          <mat-select formControlName="moneda" required>
            <mat-option value="PEN">PEN</mat-option>
            <mat-option value="USD">USD</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Deudor</mat-label>
          <input matInput type="text" formControlName="deudores" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>DNI/RUC Deudor</mat-label>
          <input matInput formControlName="documentIdentifierDebtor" required>
        </mat-form-field>
        <div class="button-group">
          <button mat-button type="button" (click)="onBack()">Regresar</button>
          <button mat-raised-button color="primary" type="submit">Registrar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
