.title{
  text-align: center;
  background: #515490;
  color: white;
  margin: 40px 15px 0px;
}

.colum{
  width: 100%;
  column-count: 6;
  column-width: 100px;
  text-align: center;
  margin: auto;
}

select[multiple] {
  height: 1.5em;
  vertical-align: top;
}

select[multiple]:focus,
select[multiple]:active {
  height: auto;
}
